module.exports = {
  settings : {
    port : 5000, // Default is 5000
    host: 'http://localhost:5000/',
    path : '/home/erasme/projets/rectoverso'
  },

  game : {
    nbPlayersMinPerRoom : 2,
    nbPlayersMaxPerRoom : 2
  },

  cards : {
    defaultRoomFolderName  : 'default', // Default is `default`
    defaultCardsFolderName : 'default'  // Default is `default`
  }
}
