* {
    margin: 0;
    padding: 0;
}

body {
/*	background: url("../data/bg.jpg") no-repeat center fixed;
	background-size: cover;*/
	cursor: url("../data/cursor.png"), pointer;
	font-family: 'Varela Round', sans-serif;
/*	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;*/
	overflow: hidden;
}

/*#all:before{
	filter: blur(10px);
	z-index: 1;
}*/

.colorBg {
	position: absolute;
	top: 0;
	left: 0;
	height: 1920px;
	width: 1080px;
}

#inactive, #rules, #waiting {
	position: absolute;
	height: 1920px;
	width: 1080px;
	z-index: 2000;
	top: 0;
	left: 0;

	background: white;
	text-align: center;
	padding-top: 300px;
}

#inactive #logo {
	height: 700px;
	margin-top: 400px;
}

#inactive h2 {
	display: block;
	font-size: 72px;
	font-weight: normal;
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
}

#rules {
	visibility: hidden;
}

#waiting {
	visibility: hidden;
}

#waiting h2, #rules h2 {
	font-size: 54px;
	display: inline-block;
	padding: 40px;
	border: dotted 5px;
}

#waiting p, #inactive p, #rules p {
	font-size: 36px;
	width: 400px;
	margin: 0 auto;
	margin-top: 150px;
}

#container {
	margin: 50px 20px;
	text-align: center;
}

.card {
	/*position: absolute;*/
	/*overflow: hidden;*/
	display: inline-block;
	background-color: #fff;
	opacity: .9;
	margin: 20px 30px;
	height: 240px;
	width: 240px;
}

img {
	width: 100%;
	height: 100%;
/*	max-height: 100%;
	max-width: 100%;*/
}

.card.hidden > img {
	opacity: 0;
}

.card.visible > img, .card.found > img, .card.visibleByOther > img{
	opacity: 1;
}

.card.visible{
   outline:5px solid #ffa61d;
}

.card.visibleByOther{
   outline:5px solid #ff6666;
}


.card.found {
	filter: grayscale(75%);
	/*transition: all .2s ease-in;*/
}


#score {
	z-index: 2;
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

#score p {
	display: inline-block;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}

#score p strong {
	font-size: 50px;
}


 #win {
	position: absolute;
	height: 1920px;
	width: 1080px;
	z-index: 2000;
	top: 0;
	left: 0;

	visibility: hidden;

	background: green;
	text-align: center;
	padding-top: 300px;
}

#lose {
	position: absolute;
	height: 1920px;
	width: 1080px;
	z-index: 2000;
	top: 0;
	left: 0;

	visibility: hidden;

	background: red;
	text-align: center;
	padding-top: 300px;
}

#win h3, #lose h3 {
	color: white;
	font-size: 54px;
}
