* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

body {

	cursor: url("../data/cursor.png"), pointer;
	font-family: 'Varela Round', sans-serif;

	overflow: hidden;
}

.imageBg {
	position: absolute;
	top: 0;
	left: 0;
	height: 1920px;
	width: 1080px;
}

.colorBg {
	position: absolute;
	top: 0;
	left: 0;
	height: 1920px;
	width: 1080px;
}

#inactive, #rules, #waiting, #win, #lost {
	position: absolute;
	height: 1920px;
	width: 1080px;
	z-index: 2000;
	top: 0;
	left: 0;

	text-align: center;
	padding-top: 300px;
}

#inactive #logo {
	height: 700px;
	margin-top: 300px;
}

#hashtag {
	display: block;
	font-size: 72px;
	font-weight: normal;
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
}

.state {
	display: none;
}

.colorBg h2 {
	margin-top: 300px;
	font-size: 54px;
	display: inline-block;
	padding: 40px;
	border: dotted 5px;
}

.colorBg h3 {
	font-size: 54px;
	margin-top: 100px;
}

.colorBg p {
	font-size: 36px;
	width: 700px;
	margin: 0 auto;
	margin-top: 150px;
}

.colorBg .tap {
	display: inline-block;
	padding: 40px;
	width: 700px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 100px;
	position: absolute;
	bottom: 100px;
	left: 150px;
}

#game {
	margin: 50px 20px;
	text-align: center;
	display:none;
	height: 1870px;
}

.card {
	display: inline-block;
	margin: 20px 30px;
	height: 240px;
	width: 240px;
	position:relative;
	perspective:600px;
	-webkit-perspective:600px;
	-webkit-transition:all 200ms ease;
}

img {
	width: 100%;
	height: 100%;
}

.card_wrap {
  width:240px;
  height:240px;
	position:relative;
}


.card .front,
.card .back {
  position:absolute;
  top:0;
  left:0;
  width:240px;
  height:240px;
  backface-visibility: hidden;
  
	-webkit-transition:all 400ms ease-out;
  transform-style: preserve-3d;
}

.card .back {
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
	background: url('../data/dos.png');
  background-size: 240px 240px;
}

.card .front {
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
}

.card.visible {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.card.visible {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.card.visible .front, 
.card.found .front, 
.card.visibleByOther .front {
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
}

.card.visible .back, 
.card.found .back, 
.card.visibleByOther .back {
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
}

/*.card.visible{
   outline:5px solid #ffa61d;
}*/
/*
.card.visibleByOther{
   outline: 10px solid white;
}
*/

.foundReward {
	position: relative;
	top: -245px;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 240px, 240px;
}

#score {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

#score p {
	display: inline-block;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}

.colorBg strong, #score strong {
	font-size: 50px;
}
